<H1> Shoppy ShopPerson  </H1>


<form method = "POST" action = "">
<h3>Create New List<h3>
Name : <input type = "text" name  = "nameOfItem">
<br>
<br>
Created By: <input type = "text" name = "createdBy" >
<br>
<br>
<input type = "submit" value = "Create New Grocery List">
</form>
<br>
<br>
<a href="{{allListUrl}}">All List</a>
