<h2>Login</h2>
{{message}}
<form method="POST" action="">
		username: <input name="username" type="text">
		<br>
		password: <input name="password" type="password">
		<input type="submit" value="Login">
</form>

<br>
<br>
Do not have an account, <a href="{{register}}">click here to register</a>
